body {
    height: 100%;

    background-image: url('../img/background.jpg');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    margin-top: 5px;
}

.velocity {
    font-size: 40px;
}

.speed-unit {
    font-size: 27px;
}

.container {
    margin-top: 20px;
}